.but{
  height: 130px;
  width: 310px;
  border-radius: 40px;
  background-color: rgb(203,248,235);
  position: absolute;
  justify-content: center;
  font-size: 30px;
}
*{
  background-color: grey;
}
.but1{
  top: 28vh;
  left: 40vw;
}
.but2{
  top: 53vh;
  left: 40vw;
}