body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.weather-container {
  position: relative;
  background: rgb(146, 218, 252);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 600px;
}

h1{
  color: #333;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-box input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 70%;
  outline: none;
}

.search-box button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #1f689d;
  color: white;
  border: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: background-color 0.3s ease;
}
.search-box button:hover {
  background-color: #219150;
}

#forecast-container{
  margin-top: 20px;
}

.forecast-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
}


.forecast-card {
  background: #e0dfe0;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.forecast-card h3 {
  margin: 0 0 10px;
}

.forecast-card p {
  margin: 5px 0;
  font-size: 14px;
}

.note {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}